@model IEnumerable<MusicPortal.Models.Music>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Track", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Ganers.GanreName)
        </th>
        <th>
            
        </th>

        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ganers.GanreName)
            </td>

            <td>
                <audio controls="controls">
                    <source src="@Url.Content(item.RelativePath)" type="audio/mp3"/>
                </audio>
           
            </td>
            <td>

                
                @Html.ActionLink("DownLoad", "DownloadTrack", new {id = item.Id})

            </td>
        </tr>
    }

</table>

